<div class="row">
  <div class="col-xs-12">
    <p>this is my first angular app</p>
    <label>Server Name</label>
    <!--<input type="text" class="form-control" [(ngModel)]="newServerName">-->
    <input
      type="text"
      class="form-control"
      #serverNameInput>
    <label>Server Content</label>
    <!--<input type="text" class="form-control" [(ngModel)]="newServerContent">-->
    <input
      type="text"
      class="form-control"
      #serverContentInput>
    <hr>
    <button class="btn btn-primary"
            (click)="onAddServer(serverNameInput)"
    >Add Server
    </button>
    <button class="btn btn-primary"
            (click)="onAddBlueprint(serverNameInput)"
    >Add Blueprint
    </button>
  </div>
</div>
